body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17px 0;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: none;

}


.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@media screen and (min-width:768px) {


    .open-menu-btn {
        display: none;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
}
.mobile-nav-list{
    display:flex;
    flex-direction: column;
    gap: 24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
}
.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-address-list{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.section1 {
    background-color: #2e2f42;
}

.section1-title {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
}

.first-section {
    padding: 48px 0;
    background-color: #2e2f42;
    gap: 15px;
    max-height: 432px;
    max-width: 320px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/Dark-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.first-section-title {
    min-width: 216px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    margin-right: auto;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

ul,
nav {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (min-width:768px) {
    .section1-title {
            font-size: 56px;
            line-height: 1.07;
            text-align: center;
        }
.first-section {
padding: 94px 0;
        background-color: #2e2f42;
        gap: 10px;
        min-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/bkgi.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;
    }
    .first-section-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width:1158px){
.first-section {
        background-color: #2e2f42;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(./images/bkgi.jpg);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }
}


.second-section {
    padding: 72px 0;
}
@media screen and (min-width:768px) {
    .second-section {
            padding: 120px 0;
        }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

}


.features-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
@media screen and (min-width:1158px) {
    .features-icon {
        display: flex;
    }
}
.features-list {
    display:flex;
    flex-direction:column;
    gap: 24px;
    padding-left: 0;
    margin: 0;
}
@media screen and (min-width:768px) {
    .features-list{
        flex-flow: row wrap;
    }
}
    .features-list .features-item {

    flex-basis: calc((100% - 3 * 24px) / 1);
}
@media screen and (min-width:768px) {
    .features-list .features-item {
        flex-basis: calc((100% - 3 * 24px) / 2);
        }
    
}
@media screen and (min-width:1158px) {
    .features-list .features-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
        }
}


.second-section-small-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
@media screen and (min-width:1158px) {
    .second-section-small-title{
            font-weight: 500;
                font-size: 20px;
                    line-height: 1.2;
    }
}

.second-section-paragraf {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.third-section {
    padding: 72px 0;
    background-color: #F4F4FD;
}
@media screen and (min-width:1158px){
    .third-section{
        padding: 120px 0; 
    }
}
.third-section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 0;
    margin: 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width:768px) {
    .third-section-list{
        flex-flow: row wrap;
    }
}
.third-section-list .third-section-item {

    flex-basis: calc((100% - 3 * 24px) / 1);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width:768px) {
    .third-section-list .third-section-item{
        flex-basis: calc((100% - 3 * 24px) / 2);
    }
}
@media screen and (min-width:1158px) {
    .third-section-list .third-section-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}
.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.icon-items {
    margin-bottom: 8px;
    width: 40px;
    height: 40px;
}

.icon-items-ref {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-items-ref:hover,
.icon-items-ref:focus {
    background-color: #404bbf;
}

.svg-icon {
    fill: #f4f4fd;
}

.team-info {
    padding: 32px 0;
}

.third-section-small-title {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.third-section-paragraf {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.social-app-list {
    display: flex;
    justify-content: center;
    gap: 24px;

    .social-app {
        width: 40px;
        height: 40px;
    }
}

.fourth-section {
    padding: 72px 0;
}
@media screen and (min-width:1158px) {
    .fourth-section{
        padding: 120px 0;
    }
}
.fourth-section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.fourth-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
}
@media screen and (min-width:768px) {
    .fourth-list {
        flex-direction: row;
    }
}
.fourth-list .fourth-item {
    width: calc((100% - 48px) / 1);
}
@media screen and (min-width:768px) {
.fourth-list .fourth-item {
        width: calc((100% - 48px) / 2);
    }
}
@media screen and (min-width:1158px) {
    .fourth-list .fourth-item {
            width: calc((100% - 48px) / 3);    
        }
}
.fourth-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-images {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partfolio-images:hover {
    transform: translateY(0%);
}

.partfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.fourth-item-image {
    position: relative;
    overflow: hidden;
}

.fourth-section-small-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.fourth-section-paragraf {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.fourth-item:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-item:hover .fourth-hidden-paragraf {

    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-hidden-paragraf {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background: #4d5ae5;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    flex-wrap: wrap;
}
@media screen and (min-width:768px) {
    .footer-container {
        flex-direction: row;
    }
}
.footer {
    padding: 16px 0;
    background-color: #2e2f42;
}
@media screen and (min-width:768px) {
    .footer{
        padding: 100px 0 ;
    }
}



@media screen and (min-width:768px) {
    .aaaa{
        padding-right: 16px ;
    }
}
@media screen and (min-width:1158px) {
    .aaaa{
        padding-right: 72px ;
    }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.second-footer-logo {
    color: #F4F4FD
}

.footer-paragraf {
    max-width: 264px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-media-links {
    display: flex;
    gap: 16px;
}

.social-media-links-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-ref {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-ref:hover,
.social-link-ref:focus {
    background-color: #31d0aa;
    ;
}

.bbbb {
    margin-right: 40px;
}

.cccc-paragraf {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.cccc-form {
    flex-direction: column;
    display: flex;
    gap: 24px;
}
@media screen and (min-width:768px) {
    .cccc-form{
        flex-direction: row;
    }
    
}
@media screen and (min-width:768px), (max-width:1158px) {
    .footer-container{
        flex-wrap:wrap;
    }
}
.cccc-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

placeholder {
    color: #ffffff;
}

.cccc-button {
    min-width: 165px;
    height: 40px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
@media screen and (min-width:768px) {
    .cccc-button{
        flex-direction: row;
        padding-top: 0;
    }
}

.svg-icon-button {
    margin-left: 16px;
}

.bbmb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraf {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-div {
    margin-bottom: 8px;
}

.modal-div-second {
    position: relative;
}

.modal-div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.second-div-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-div-input:focus {
    border-color: #4D5AE5;
}

.second-div {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-div-input:focus+.second-div {
    fill: #4D5AE5;
}

.omagad-much-divs-input:focus+.omagad-svg-icon {
    fill: #4D5AE5;
}

.special-modal-div {
    margin-bottom: 16px;
}

.textarea-div {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-div:focus {
    border-color: #4D5AE5;
}

.omagad-much-divs {
    margin-bottom: 24px;
}

.omagad-much-divs-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.span-enjoyer {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

:root {
    --checked-bg-color: #404bbf;
}

#user-privacy:checked~.omagad-much-divs-label .span-enjoyer {
    background-color: var(--checked-bg-color);
    border: none;
    fill: #F4F4FD;
}

.omagad-much-divs-input:checked .span-enjoyer {
    background-color: var(#404bbf);
    border: none;
    fill: var(#f4f4fd);
}

.privacy-link {
    color: #4d5ae5;
}

.form-button-frfr {
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
@media screen and (min-width:768px) {
    .modal-window{
        width: 408px;
    }
}
.modal-button {
    margin: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.svg-icon-modal-window {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon-modal-window:hover,
.svg-icon-modal-window:focus {
    fill: #ffffff;
}

.mob-menu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.close-btn-menu {
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    border-radius: 100%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
}

.mob-menu-hrest {
    fill: #2e2f42;
}



.menu-link-mob {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.info-mob {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-info-iteam {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.menu-link-mob:focus,
.menu-link-mob:hover {
    color: #404bbf;

}

.mob-info-iteam:hover,
.mob-info-iteam:focus {
    color: #404bbf;
}

.iteam-menu-mob:not(:last-child) {
    margin-bottom: 40px;
}

.social-li-mob {
    width: 40px;
    height: 40px;
}

.svg-mob-menu {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

.social-mad-link-mob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social_med_mob {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.social-mad-link-mob:hover,
.social-mad-link-mob:focus {
    background-color: #404bbf;
}

.div-mob-address {
    margin-top: auto;
}

.div-mob-nav {
    margin-bottom: 50px;
}
